name: Lint Code Base

on:
  push:
    branches: [ master ]
  pull_request: 
    branches: [ master ]
    
jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          LINTER_RULES_PATH: /
          EDITORCONFIG_FILE_NAME: .editorconfig
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}